@import "tailwindcss";

html {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: auto;
}

* {
  box-sizing: border-box;
  font-family: karim;
  direction: rtl;
}

/* فونت */
@font-face {
  font-family: karim;
  src: url("/Webfonts/fonts/woff2/IRANSansX-Medium.woff2");
  font-display: swap;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
